html, body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#message-box{
    position: absolute;
    right: 50px;
    bottom:  150px;
    width: 600px;
    height: 0px;
}

#alarm-count-badge{
    position: relative;
    left: 20px;
    top: 20px
}

#ipdu-dropdown{
    width: 200px;
}

.priority-input{
    width: 50px;
}

.config-td{
    width: 100px;
}

.title{
    font-size: 25px;
}

.nav-dropdown{
    display: inline-block;
    width: 150px;
}

#voltage-flex-row{
    min-width: 800px;
    overflow: hidden;
}


.center-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#header{
    height: 70px;
    top: 0px;
    position: absolute;
    z-index: 10;
}

#page-content{
    overflow-y: auto;
    margin-top: 70px;
    height: calc(100vh - 70px);
}

#alarm-btn{
    width: 500px;
    display: none;
}


#main-info-panel{
    width: 210px;
    /* height: 450px; */
}

#alarms-tbl{
    width: 200px;
    max-height: 300px;
}

#alarms-panel{
    margin: 1px;
}

#alarms-btn{
    position: absolute;
    right: 100px;
    bottom:  50px;
}

#waveform-select-panel{
    width: 220px;
}

#waveform-rms-panel{
    width: 220px;
    height: 318px;
}

.alarm-btn{
    padding: 2px 5px 2px 5px;
    margin: 0px 1px;
    font-size: 14px;
}

.gear-icon{
    display: inline;
    margin: 5px 10px 0px 50px;
    width: 45px;
}
.house-icon{
    display: inline-block;
    margin: 10px 0px 0px 10px;
    width: 45px;
}

.nav-group{
    width: 300px;
    display: block;
    flex-shrink: 0;
}

.alarm-icon{
    cursor: pointer;
    width: 64px;
}


.m1{
    margin: 3px;
}

#content-container{

    flex: 0 1 auto;
    min-width: 800px;
}

#gauges{
    max-height: 80vh;
    overflow: auto;
    /* min-width: 510px; */
    width: 100%;
}

#display-tabs{
    margin: 10px 50px -1px 50px;
    /* margin: 10px 0px -1px 0px; */
    padding: 0px;
    line-height: 0px;
}

#snapshot-select-panel{
    width: 220px;
}

#snapshot-select-info-panel{
    width: 220px;
    min-width: 220px;
}

.tab{
    border-bottom-color: green;
}


.border-dark{
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0px 5px 0px 5px;
}

.info-list{
    list-style: none;
    font-size: 12;
    padding: 0;
    margin: 0;
}

.info-list-ul{
    width: 180px;
}

.alert{
    margin: 0px 1px;
    text-align: center;
}

.table-padding{
    padding: 2px 5px 2px 5px;
}

.info-list-item{
    width: 180px;
    white-space:nowrap;
}

.alarm-td{
    padding: 2px 5px 2px 5px;
}

.alarm-th{
    font-size: 12px;
    padding: 2px;
}

.p0{
    padding: 0px;
}
.m0{
    margin: 0px;
}

.small-header{
    text-align: center;
    background: inherit;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.panel-header{
    text-align: center;
    background: inherit;
    font-weight: bold;
    text-decoration: underline;
    /* margin-bottom: -25px; */
}

.h100{
    height: 100%;
}

.w100{
    width: 100%
}

.h100{
    height: 100%;
}

.overflow-auto{
    overflow: auto;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.grow-shrink{
    flex: 10 1 auto;
}

.grow{
    flex: 10 0 auto;
}

.shrink{
    flex: 0 10 0;
    width:max-content;
}

.flex-shrink-0{
    flex-shrink: 0;
    flex-grow: 0;
}

.no-grow-shrink{
    flex: 0 0 auto;
}

.row-wrap{
    flex-flow: row wrap;
}

.slow-grow{
    flex: 1 2 auto;
}

.radio-input{
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.gauge-container{
    text-align: center;
    display: inline-block;
    height: 240px;
    overflow: hidden;
    margin-bottom: -40px;
}
.gauge-container-sm{
    text-align: center;
    display: inline-block;
    height: 240px;
    overflow: hidden;
    margin-bottom: -70px;
}

.gauge-label{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 15px;
}