.Select-menu-outer{
    background-color: #343a40;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
    color: rgba(255, 255, 255, 0.87)
}