.Select-menu-outer{
    background-color: #f8f9fa;
}
.Select-placeholder .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
    color: #171a1d
}